@import "tailwindcss";

:root {
  /* Global colors */
  --background: #142139;
  --navigation-bg: #F9FAFB;
  --primary-button: #e4ab61;
  --disabled-primary: #e8eaee;
  --disabled-secondary: #d3d7dc;
  --disabled-text: #677289;
  --active-text: #1A1A1A;
  --royal-blue-1: #2F72E2;
  --gray-shade-1: #C0C0C0;
  --gray-shade-2: #E1E1E1;
  --gray-shade-3: #FAFBFC;
  --red-shade-1: #EF494F;
  --blue-shade-1: #313b55;
  --blue-shade-2: #49546b;
  --overlay-shade: #00000080;
}

@theme inline {
  --color-background: var(--background);
  --color-navigation-bg: var(--navigation-bg);
  --color-primary-button: var(--primary-button);
  --color-disabled-primary: var(--disabled-primary);
  --color-disabled-secondary: var(--disabled-secondary);
  --color-disabled-text: var(--disabled-text);
  --color-active-text: var(--active-text);
  --color-royal-blue-1: var(--royal-blue-1);
  --color-gray-shade-1: var(--gray-shade-1);
  --color-gray-shade-2: var(--gray-shade-2);
  --color-gray-shade-3: var(--gray-shade-3);
  --color-red-shade-1: var(--red-shade-1);
  --color-blue-shade-1: var(--blue-shade-1);
  --color-blue-shade-2: var(--blue-shade-2);
  --color-overlay-shade: var(--overlay-shade);
  
  --font-inter: var(--font-inter);

  --shadow-custom-shadow-1: 0 0 4px var(--gray-shade-2);
  --shadow-custom-shadow-2: 0 0 4px var(--royal-blue-1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: "Inter", sans-serif;
}
